footer.footer__wrapper#footer
    .container
        .footer-block
            a.footer-logo(href='/')
                .logo
            .footer-content
                ul.footer-menu
                    li.footer-menu-item
                        a(href='/#menu') Меню
                    li.footer-menu-item
                        a(href='/#sale') Акции
                    li.footer-menu-item
                        a(href='/#dist') Доставка
                ul.footer-social
                    li.footer-social-item
                        a(href='https://www.instagram.com/p/CMmfCLCLiJr/?igshid=f48s0whmtm53')
                            .ico.instagram
                    li.footer-social-item
                        a(href='https://vk.com/blin_roll')
                            .ico.vk
                .footer-number
                    a(href='tel:+79786633030')
                        .ico
                        span +7 (978) 663-30-30
                .footer-log-in
                    a.log-in(href='log-in.html') Войти
                    span.sep |
                    a.reg(href='registration.html') Регистрация