header.header__wrapper
    .container
        .header-block
            a.header-logo(href='index.html')
            .header-menu
                ul.header-menu__nav
                    li.header-menu__nav-item
                        a(href='#') Меню
                    li.header-menu__nav-item
                        a(href='#') Акции
                    li.header-menu__nav-item
                        a(href='#') Доставка
                    li.header-menu__nav-item
                        a(href='#') Контакты
                a.header-menu-tel(href='#')
                    .ico
                    span +7 (987) 654-32-11
                .header-menu__lk
                    a.log-in(href='#') Войти
                    span.sep |
                    a.reg(href='#') Регистрация