header.header__wrapper
    .container
        .header-block
            a.header-logo(href='index.html')
            .header-menu
                ul.header-menu__nav
                    li.header-menu__nav-item
                        a(href='/#menu' data-dist='menu') Меню
                    li.header-menu__nav-item
                        a(href='/#sale' data-dist='sale') Акции
                    li.header-menu__nav-item
                        a(href='/#dist' data-dist='dist') Доставка
                    li.header-menu__nav-item
                        a(href='#footer') Контакты
                a.header-menu-tel(href='tel:+79786633030')
                    .ico
                    span +7 (978) 663-30-30
                .header-menu__lk
                    a.log-in(href='log-in.html') Войти
                    span.sep |
                    a.reg(href='registration.html') Регистрация
            .header-burger
                .span-block
                    span
                    span
    .mobile__header.closed
        .container
            .mobile__header-block
                .mobile__header-nav
                    ul.mobile__header-menu
                        li.mobile__header-menu-item
                            a(href='/#menu' data-dist='menu') Меню
                        li.mobile__header-menu-item
                            a(href='/#sale' data-dist='sale') Акции
                        li.mobile__header-menu-item
                            a(href='/#dist' data-dist='dist') Доставка
                        li.mobile__header-menu-item
                            a(href='#footer') Контакты
                    .mobile__header-log-in
                        a.mobile__header-log-in-item(href='log-in.html') Войти
                        span.sep |
                        a.mobile__header-log-in-item(href='registration.html') Регистрация
                .mobile__header-num
                    a.mobile__header-num-link(href='tel:+79786633030')
                        .ico
                        span +7 (978) 663-30-30