doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700;900&family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet")
        block heads
        link(rel='icon', sizes='256x256', href='favicon.ico')
    body
        include header
        main
            block content
        script(src='js/index.js')
        script(src='js/parse.js')