.cart__wrapper
    .cart__added-to-ct
        .cart__added-to-ct-cont
            span Товар добавлен в корзину
            .ico
    .cart-block
        .cart-block-close
        .cart-block__items
        .cart-block__empty Ваша корзина пуста
        .cart-block__items-cost
            .weight
                span.value 0
                span.gr  г.
            .price
                span.value 0
                span.rub  ₽
        .cart-block__items-btns
            a.cart-accept(href='#') Перейти к оформлению заказа
            a.cart-continue(href='/') Продолжить покупки
            a.cart-clean(href='#').closed Очистить корзину
    .cart__open
        .ico
        .count-of-ord.closed 0