.cart__user-info.closed
	form
		h3 Оформление заказа
		input(type='tel', placeholder='+79193933506', value='79193933506').input.phonenumber
		button.checkNumber Далее
		h5.hidden.canHide Информация
		input.hidden.canHide(type='text', placeholder='Ваше имя').input.name
		input.hidden.canHide(type='date', placeholder='Дата рождения').input.date
		h5.hidden.canHide Доставка
		select.hidden.canHide.adress
			option Вариант 1
			option Вариант 2
			option Вариант 3
		input(type='text', placeholder='Введите адрес').input.hidden.canHide.altAdress
		//label.hidden.canHide
		//	input(type='checkbox').withoutDeliver
		//	span.text Сомовывоз
		button.hidden.canHide.sendOrder Оформить заказ
