$mts: 'Montserrat', sans-serif;
$exo: 'Exo 2', sans-serif;

$font-xs: 14px;
$font-sm: 16px;
$font-md: 20px;
$font-lg: 30px;
$font-ul: 40px;
$font-xl: 50px;

$c-orange: #FF9737;
$c-orange-dark: darken($c-orange, 20);
$c-orange-light: lighten($c-orange, 20);
$c-green: #24FF3A;
$c-green-dark: darken($c-green, 20);
$c-green-light: lighten($c-green, 20);
$c-black: #333333;
$c-red: #F24141;
$c-gray: #EBEBEB;
$c-star: #FFC107;

$c-black-op: rgba(0, 0, 0, 0.6);

$smooth-filter: blur(4px);

$c-gradient: linear-gradient(170deg, #24FF3B 0%, #2AD6F7 100%)