extends  ../modules/layout

block heads
    link(rel='stylesheet' href='css/main.css')
    title Blin Roll

block content
    section.main__wrapper
        .container
            .main__offer-block
                .main__offer-left
                    .main__offer-item
                        .item-content
                            .sale Скидка 20%
                            .info
                                .info-main
                                    span.name “Гавайская” пицца
                                    span.wg  1 200 г.
                                    span.cost  760 ₽
                                .info-consist
                                    ul.consist-list
                                        li.consist-list-item Курица
                                        li.consist-list-item Грибы
                                        li.consist-list-item Ананас
                                        li.consist-list-item 3 сыра
                                        li.consist-list-item Свежая зелень
                        .item-button
                            a.button.button-lg.green.add-to-cart(href='#')
                                span.text Добавить в корзину
                                .ico
                    .main__offer-utp
                        h1 У нас
                            span.mark  вкусно!
                        p Приготовим и доставим до дома блины, роллы, пиццу и многое другое за 30 минут
                        a.to-bottom(href='#menu')
                            .ico
                            span Перейти к меню
                .main__offer-right.glide
                    .glide__track(data-glide-el="track")
                        ul.main__offer-slider.glide__slides
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                    ul.arrow__dots#dots.glide__bullets(data-glide-el="controls[nav]")
                        li.glide__bullet.dot.active(data-glide-dir="=0")
                        li.glide__bullet.dot(data-glide-dir="=1")
                        li.glide__bullet.dot(data-glide-dir="=2")
                        li.glide__bullet.dot(data-glide-dir="=3")
                    .arrows__block(data-glide-el="controls").glide__arrows
                        .glide__arrow.glide__arrow--left.arrow.arr-left(data-glide-dir="<")#prevArr
                        .glide__arrow.glide__arrow--right.arrow.arr-right(data-glide-dir=">")#nextArr
    section.menu__wrapper
        .container
            .menu-block
                .menu-block-header#menu
                    ul.menu__list
                    ul.menu__filters
                        li.menu__filters-item.sort.increase.active
                            span Цена по возрастанию
                            .ico
                                svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    line(x1="0.5" y1="-2.18557e-08" x2="0.500001" y2="16" stroke="#333333")
                                    line(x1="3" y1="0.5" x2="7" y2="0.5" stroke="#333333")
                                    line(x1="3" y1="15.5" x2="17" y2="15.5" stroke="#333333")
                                    line(x1="3" y1="10.5" x2="14" y2="10.5" stroke="#333333")
                                    line(x1="3" y1="5.5" x2="10" y2="5.5" stroke="#333333")
                        li.menu__filters-item.sort.decrease
                            span Цена по убыванию
                            .ico
                                svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    line(x1="0.5" y1="-2.18557e-08" x2="0.500001" y2="16" stroke="#333333")
                                    line(x1="3" y1="0.5" x2="7" y2="0.5" stroke="#333333")
                                    line(x1="3" y1="15.5" x2="17" y2="15.5" stroke="#333333")
                                    line(x1="3" y1="10.5" x2="14" y2="10.5" stroke="#333333")
                                    line(x1="3" y1="5.5" x2="10" y2="5.5" stroke="#333333")
                        //li.menu__filters-item.popularity
                        //    span По популярности
                        //    .ico
                        //        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        //            g(clip-path="url(#clip0)")
                        //                path(d="M14.2931 5.19365C14.1571 4.96858 13.8876 4.86162 13.6344 4.93227C13.3809 5.00291 13.2057 5.23363 13.2057 5.49669C13.2057 6.21187 12.6239 6.79354 11.9089 6.79354C11.1937 6.79354 10.612 6.21187 10.612 5.49669V0.585946C10.612 0.348977 10.4692 0.135354 10.2503 0.0445637C10.0313 -0.0460736 9.77921 0.00412789 9.61167 0.17167C9.54606 0.237435 7.98341 1.80894 6.40046 4.18352C5.46707 5.58366 4.72214 6.97252 4.18656 8.31148C3.50815 10.0077 3.16406 11.6316 3.16406 13.138C3.16406 16.9217 6.24237 20 10.0259 20C13.8097 20 16.888 16.9217 16.888 13.138C16.888 10.7161 16.0149 8.04323 14.2931 5.19365ZM10.0259 18.8282C6.88859 18.8282 4.33594 16.2755 4.33594 13.138C4.33594 10.0496 5.98191 6.92781 7.36283 4.85261C8.11127 3.72789 8.86552 2.78001 9.44001 2.10588V5.49669C9.44001 6.85793 10.5475 7.96541 11.9087 7.96541C12.7409 7.96541 13.4784 7.55159 13.9258 6.91881C15.1145 9.15713 15.7161 11.2448 15.7161 13.138C15.7161 16.2755 13.1636 18.8282 10.0259 18.8282Z" fill="#333333")
                        //                path(d="M13.3499 9.8894H10.8395C10.5159 9.8894 10.2536 10.1517 10.2536 10.4752C10.2534 10.7988 10.5159 11.0613 10.8394 11.0613H11.9354L9.43206 13.5645L8.07128 12.2037C7.84255 11.975 7.47146 11.975 7.24273 12.2037L5.91124 13.535C5.68236 13.7639 5.68236 14.1349 5.91109 14.3637C6.13997 14.5926 6.51092 14.5925 6.7398 14.3637L7.657 13.4467L9.01763 14.8075C9.1275 14.9173 9.27658 14.9791 9.43206 14.9791C9.5874 14.9791 9.73648 14.9173 9.84634 14.8075L12.764 11.89V12.9857C12.764 13.3092 13.0263 13.5717 13.3499 13.5717C13.6736 13.5717 13.9359 13.3092 13.9359 12.9857V10.4753C13.9359 10.1517 13.6736 9.8894 13.3499 9.8894Z" fill="#333333")
                        //        defs
                        //            clipPath(id="clip0")
                        //                rect(width="20" height="20" fill="white")
                .menu-block-content
    section.steps__wrapper#dist
        .container
            .steps-block
                h2.title Как мы работаем?
                .steps__list
                    .step.step-1
                        .ico-block
                            .ico
                        .text
                            h3.step-title Закажите и оплатите
                            p.step-text На этом этапе выберите то, что хотели бы покушать
                    .step.step-2
                        .ico-block
                            .ico
                        .text
                            h3.step-title Наш повар начинает готовить
                            p.step-text Мы готовим еду только когда вы закажете, а не разогреваем старую
                    .step.step-3
                        .ico-block
                            .ico
                        .text
                            h3.step-title После приготовления курьер уже спешит доставить еду до вашего дома
                            p.step-text Наш курьер доставит ваш заказ  на столько быстро, на сколько это возможно
                    .step.step-4
                        .ico-block
                            .ico
                        .text
                            h3.step-title Получение заказа
                            p.step-text Получите заказ и скорее за стол!
                .steps__button-wrap
                    a.button.button-lg.orange(href='#menu') Сделать заказ
    section.sale__wrapper#sale
        .sale-block
            h2.title Акции
            .sale-slider
                .sale-slider-elem
                    .info

                    .img
