extends  ../modules/layout

block heads
    link(rel='stylesheet' href='css/main.css')
    title Blin Roll - Главная

block content
    section.main__wrapper
        .container
            .main__offer-block
                .main__offer-left
                    .main__offer-item
                        .item-content
                            .sale Скидка 20%
                            .info
                                .info-main
                                    span.name “Гавайская” пицца
                                    span.wg  1 200 г.
                                    span.cost  760 ₽
                                .info-consist
                                    ul.consist-list
                                        li.consist-list-item Курица
                                        li.consist-list-item Грибы
                                        li.consist-list-item Ананас
                                        li.consist-list-item 3 сыра
                                        li.consist-list-item Свежая зелень
                        .item-button
                            a.button.button-lg.green.add-to-cart(href='#')
                                span.text Добавить в корзину
                                .ico
                    .main__offer-utp
                        h1 У нас
                            span.mark  вкусно!
                        p Приготовим и доставим до дома блины, роллы, пиццу и многое другое за 30 минут
                        a.to-bottom(href='#menu')
                            .ico
                            span Перейти к меню
                .main__offer-right.glide
                    .glide__track(data-glide-el="track")
                        ul.main__offer-slider.glide__slides
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                            li.slider-element.glide__slide
                                .text__block
                                    span При заказе доставки от 1 500 рублей
                                        span.mark  блины
                                        |  с ананасом и кокосом
                                        span.mark  в подарок
                    ul.arrow__dots#dots.glide__bullets(data-glide-el="controls[nav]")
                        li.glide__bullet.dot.active(data-glide-dir="=0")
                        li.glide__bullet.dot(data-glide-dir="=1")
                        li.glide__bullet.dot(data-glide-dir="=2")
                        li.glide__bullet.dot(data-glide-dir="=3")
                    .arrows__block(data-glide-el="controls").glide__arrows
                        .glide__arrow.glide__arrow--left.arrow.arr-left(data-glide-dir="<")#prevArr
                        .glide__arrow.glide__arrow--right.arrow.arr-right(data-glide-dir=">")#nextArr
    section.menu__wrapper
        .container
            .menu-block
                .menu-block-header#menu
                    ul.menu__list
                    ul.menu__filters
                        li.menu__filters-item.sort.increase.active
                            span Цена по возрастанию
                            .ico
                                svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    line(x1="0.5" y1="-2.18557e-08" x2="0.500001" y2="16" stroke="#333333")
                                    line(x1="3" y1="0.5" x2="7" y2="0.5" stroke="#333333")
                                    line(x1="3" y1="15.5" x2="17" y2="15.5" stroke="#333333")
                                    line(x1="3" y1="10.5" x2="14" y2="10.5" stroke="#333333")
                                    line(x1="3" y1="5.5" x2="10" y2="5.5" stroke="#333333")
                        li.menu__filters-item.sort.decrease
                            span Цена по убыванию
                            .ico
                                svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    line(x1="0.5" y1="-2.18557e-08" x2="0.500001" y2="16" stroke="#333333")
                                    line(x1="3" y1="0.5" x2="7" y2="0.5" stroke="#333333")
                                    line(x1="3" y1="15.5" x2="17" y2="15.5" stroke="#333333")
                                    line(x1="3" y1="10.5" x2="14" y2="10.5" stroke="#333333")
                                    line(x1="3" y1="5.5" x2="10" y2="5.5" stroke="#333333")
                .menu-block-content
    section.steps__wrapper#dist
        .container
            .steps-block
                h2.title Как мы работаем?
                .steps__list
                    .step.step-1
                        .ico-block
                            .ico
                        .text
                            h3.step-title Закажите и оплатите
                            p.step-text На этом этапе выберите то, что хотели бы покушать
                    .step.step-2
                        .ico-block
                            .ico
                        .text
                            h3.step-title Наш повар начинает готовить
                            p.step-text Мы готовим еду только когда вы закажете, а не разогреваем старую
                    .step.step-3
                        .ico-block
                            .ico
                        .text
                            h3.step-title После приготовления курьер уже спешит доставить еду до вашего дома
                            p.step-text Наш курьер доставит ваш заказ  на столько быстро, на сколько это возможно
                    .step.step-4
                        .ico-block
                            .ico
                        .text
                            h3.step-title Получение заказа
                            p.step-text Получите заказ и скорее за стол!
                .steps__button-wrap
                    a.button.button-lg.orange(href='#menu') Сделать заказ
    include ../page_modules/sale-block
    script(src='js/glide.min.js')
    script(src='js/index.js')